.modal-content {
  background-color: var(--primary-color);
}

div.modal-header {
  border:none;
  border-color: var(--secondary-color);
}

div.modal-footer {
  border:none;
  border-color: var(--secondary-color);
}

.modal-content button {
  border: none !important;
}

.modal-body {
  padding-left: 1em;
  padding-right: 1em;
}

.modal-body p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: large;
  margin-top: 0.5em;
  color: var(--text-color);
  
}

ol {
  font-family: 'Nunito Sans', sans-serif;
  font-size: large;
  margin-top: 0.5em;
  color: var(--text-color);
  
}

ul {
  font-family: 'Nunito Sans', sans-serif;
  font-size: large;
  margin-top: 0.5em;
  color: var(--text-color);
  
}

.modal-content h1 {
  font-family: 'Quicksand', sans-serif;
  color: var(--secondary-color);
}

.modal-body h2 {
  font-family: 'Quicksand', sans-serif;
  color: var(--secondary-color);
  text-transform:uppercase;
}

.modal-body h3 {
  font-family: 'Quicksand', sans-serif;
  color: var(--secondary-color);
  text-transform:lowercase;
}

.modal-body img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2rem;
  transition: all 0.5s;
}

@media (hover: hover) {
  .modal-body img:hover {
    transition: all 0.5s;
    border-radius: 1rem;
  }
  
  .btn-primary:hover {
    background-color: var(--secondary-color);
    filter: brightness(115%);
  }
}



.modal.fade {
  transition: .5s linear all !important;
}

.modal-header .btn-close {
  filter: invert(64%) sepia(15%) saturate(1287%) hue-rotate(297deg) brightness(101%) contrast(101%);
}

.btn-primary {
  background-color: var(--secondary-color);
}




.btn-right-padding {
  padding-top: 5px;
  padding-right: 8px;
}