:root,
:root.yellow {
  --primary-color: #FFEB3B;
  --secondary-color: #FF8CA8;
  --text-color: #000000;
  --black: #000000;
  --secondary-color-light: #FFB776;
  --tertiary-color-light: #FFE245;
  --svg-filter: invert(0%) sepia(0%) saturate(7466%) hue-rotate(321deg) brightness(107%) contrast(107%);
}

:root.white {
  --primary-color: #ffffff;
  --secondary-color: #FF8CA8;
  --text-color: #000000;
  --black: #000000;
  --secondary-color-light: #ffdde5;
  --tertiary-color-light: #FFF5F7;
  --svg-filter: invert(0%) sepia(0%) saturate(7466%) hue-rotate(321deg) brightness(107%) contrast(107%);
}

:root.dark {
  --primary-color: #1b1b1b;
  --secondary-color: #dd6885;
  --text-color: #ffffff;
  --black: #000000;
  --secondary-color-light: #872f43;
  --tertiary-color-light: #4d242c;
  --svg-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(209deg) brightness(104%) contrast(103%);
}

body {
  background-color: var(--primary-color);
  font-size: 28px;
  transition: 1s;
}

body.no-transition{
  transition: none!important;
}

.main {
  margin-bottom: 30px
}

.main-title {
  font-family: 'Quicksand', sans-serif;
  color: var(--secondary-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 100px;
}

.sub-title {
  font-family: 'Quicksand', sans-serif;
  color: var(--secondary-color);
  text-align: center;
  text-transform: lowercase;
  letter-spacing: -1px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.main-para {
  font-family: 'Nunito Sans', sans-serif;
  font-size: large;
  margin-top: 1cm;
}

@media (max-width: 800px) {
  .text-box {
    width: 90%;
  }
}

@media (min-width: 800px) {
  .text-box {
    width: 50%;
  }
}

.text-box {
  text-align: center;
  padding: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 30px;
}

.profile-image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1cm;
  margin-top: 2.5cm;
  width: 170px;
  height: 170px;
}

.nav-btn {
  height: 50px;
  width: 150px;
  line-height: 35px;
  letter-spacing: .175rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  font-size: small;
  background-image: linear-gradient(var(--primary-color) 30%, rgba(255, 140, 168, 1) 100%);
  background-size: auto 200%;
  transition: all 0.5s;
  background-position: 0 0;
  color: var(--black);
  border: 2px solid #ffffff;
  border-radius: 5.5px;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  vertical-align: middle;
}

.nav-btn:hover {
  border: 1px solid var(--secondary-color);
  background-position: 0 70%;
}

.footer-icon {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
  fill: var(--black);
}

.svg-link {
  position: relative;
  display: inline-block;
  filter: var(--svg-filter);
  transition: all 0.5s;

}

.svg-link:hover {
  filter: invert(70%) sepia(57%) saturate(2274%) hue-rotate(303deg) brightness(112%) contrast(119%);
}

.svg-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


#portfolio {
  justify-content: center;
}


@media screen and (min-width: 580px) {
  #portfolio-container {
    max-width: 1400px;
    margin: auto;
    position: relative;
  }
}

/* width */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 5px 5px 5px 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

.btn-outline-primary {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  height: 30px;
  line-height: 15px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 20px;
  font-size: small;
  background-image: linear-gradient(rgba(255, 235, 59, 1) 30%, rgba(255, 140, 168, 1) 100%);
  background-size: auto 200%;
  transition: all 0.5s;
  background-position: 0 0;
  color: var(--black);
  border: 1px solid #ffffff;
  border-radius: 5.5px;
  vertical-align: middle;
}

.btn-outline-primary:hover,
.btn-check:checked+.btn-outline-primary:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn-check:checked+.btn-outline-primary {
  border: 1px solid #ffffff;
  background-position: 0 70%;
  transition: all 0.5s;
}


.card-portfolio-parent[hidden] {
  display: block;
  visibility: visible;
  opacity: 0;
}

.card-portfolio-parent:not([hidden]) {
  opacity: 1;
}

#Hvideo {
  transition: opacity 0.4s ease-in-out;
}

.form-select {
  width: 90px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  border-color: var(--secondary-color);
  border-width: 2px;
}


#year-selector {
  margin-top: 25px;
  color: #ffffff;
  font-weight:900;
}

#footer {
  padding-bottom: 20px
}


#portfolio-items.pre-animation {
  opacity: 0;
  transition: all 0.5s;
}


#portfolio-container.pre-animation {
  opacity: 0;
  transition: all 0.5s;
}


#portfolio-items {
  transition: all 0.5s;
  max-height: auto;
}

#portfolio-container {
  transition: all 0.5s;
  max-height: auto;
}

.material-switch>input[type="checkbox"] {
  display: none;
}

.material-switch>label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch>label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.material-switch>label::after {
  background: #FFEB3B;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.material-switch>input[type="checkbox"]:checked+label::before {
  background: #ffffff;
  opacity: 0.5;
}

.material-switch>input[type="checkbox"]:checked+label::after {
  background: #ffffff;
  left: 20px;
}

video::-internal-media-controls-overlay-cast-button {
  display: none;
}


.form-check-input#themeRadioDark {
  background-color: #1b1b1b;
}

.form-check-input#themeRadioYellow {
  background-color: #FFEB3B;
}

.form-check-input#themeRadioWhite {
  background-color: #ffffff;
}

.form-check-input:checked[type=radio] {
  background-image: url("../images/radio-circle.svg")
}

.form-check-input {
  border: none;
}

.form-check-input:checked {
  border: none;
}

.form-check-input:checked:hover {
  border: none;
  filter: none;
}

.form-check-input:hover {
  background-image: url("../images/radio-circle.svg");;
  filter: brightness(150%);
}

.theme-picker {
  padding-top: 30px;
  padding-bottom: 20px;
}

.no-transition * {
  -webkit-transition: none !important;
-moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.btn-download {
  background-color: var(--secondary-color);
  color: #FFF5F7;
  transition: all 0.3s ease-in-out;
}

.btn-download:hover {
  background-color: var(--secondary-color);
  filter: brightness(115%);
  color: #FFF5F7;
  transition: all 0.3s ease-in-out;
}
